/* geral */ 
*{
    margin: 0;
    padding: 0;

}
html,body{
    width: 100%;
    height: 100%;
    font: 1.2em Helvetica, sans-serif;
    min-width: 488px;
    
}



/* cabecalho */
header{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,121,9,0.8155637254901961) 63%, rgba(17,121,9,0.8155637254901961)63%);
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.link-logo{
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
}
.link-logo:hover{
    color: #00FF7F;
}

ul{
    margin-top: 2%;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-around;
    
}
li a{
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
}
li a:hover{
    color: #00FF7F;
}





/* conteudos */
.conteudo-titulo{
    width: 100%;
    position: absolute;
    left: 0;
    top: 45%;
    color: #fff;
    padding: 1.1em;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,121,9,0.8155637254901961) 63%, rgba(56,255,0,1) 96%);
    opacity: 0.6;
}

.parallax{
    height: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.parallax-conteudo{
    background-image: url(assets/inicio1.jpg);
}
.parallax-conteudo-2{
    background-image: url(assets/inicio2.jpg) ;
}
.parallax-conteudo-3{
    background-image: url(assets/planejamento2.jpg);
}
.parallax-conteudo-4{
    background-image: url(assets/planejamento1.jpg);
}
.parallax-conteudo-5{
    background-image: url(assets/Leitura1.jpg);
}
.parallax-conteudo-6{
    background-image: url(assets/leitura2.jpg);
}
.parallax-conteudo-7{
    background-image: url(assets/legumes.jpg);
}
.parallax-conteudo-8{
    background-image: url(assets/frutas1.jpg);
}
.parallax-conteudo-9{
    background-image: url(assets/Oleaginosas1.jpg);
}
.parallax-conteudo-10{
    background-image: url(assets/corrida1.jpg);
}
.parallax-conteudo-11{
    background-image: url(assets/academia2.jpg);
}
/* formatação de conteudos */ 
span{
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
}
h1{
    text-align: center;
    color: #00FF7F;
    margin: 2% 0;
    letter-spacing: 0.2em;
}
p{
    margin: 0 0 2%;
    letter-spacing: 0.1em;
    font-size: 1.1em;
}



@media (max-width:500px) {
    body{
        overflow-x: hidden;
    }
    header{
        display: block;
       text-align: center;
    }
    ul{
        width: 100%;
        display: block;
        text-align: center;
    }
    li{
        margin: 2% 0 0 0;
    }
    
    
   
    
}